html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


.btn {
  display: flex;
  margin: 5px;
  min-height: 50px;
}
.btn p {
  margin: 0;
  font-size: 18px;
}


.navbar-nav a {
  color: #455A74;
  cursor: pointer;
}


.about {
  min-height: 100vh;
  padding-top: 10vh;
  background-color: #E7F1FB;
}
.about h6 {
  font-size: 18px;
  color: #455A74;
  margin: 15px 0;
}
.about h2 {
  font-size: 72px;
  margin: 15px 0;
}
.about .social-network{
  padding: 15px;
}
.about .social-network svg {
  margin: 5px;
}


.howItWork p {
  font-size: 20px;
  color: #455A74;
  margin: 25px 0;
}
.step-1, .step-2, .step-3, .step-4 {
  margin: 10vh 0;
}

.howItWork h1 {
  font-size: 54px;
  text-align: center;
  margin: 15px 0;
}
ol {
  margin-left: -1rem;
}
li {
  list-style: none;
  text-indent: -1em;
  font-size: 18px;
}
li::before {
  content: '✔';
  padding-right: 5px;
  color: green;
}


.pricing{
  min-height: 100vh;
}
.pricing a {
  font-size:18px;
}
.price-innerdetail h5 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
}
.price-innerdetail p {
  font-size: 50px;
}
.detail-pricing {
  border-bottom: 1px solid;
  padding: 30px 0 30px 0;
}
.detail-pricing .float-left {
  padding: 0 0 0 40px;
}
.detail-pricing .float-left i {
  position: absolute;
  left: 0;
  font-size: 20px;
}
.detail-pricing span {
  display: inline-block;
  position: relative;
  font-weight: 400;
}
.wrap-price {
  background: rgba(231, 241, 251, 1);
  padding: 50px 20px 50px;
  border-radius: 10px;
}
.center-wrap {
  background: rgba(10, 18, 30, 1);
  color: #fff;
}


.feedback {
  background-color: rgba(22, 115, 255, 1);
}
.feedback .form-group {
  margin-bottom: 25px;
  font-size: 18px;
}

.feedback .form-group input,
.feedback .form-group textarea {
  padding: 20px;
}

.feedback .form-group input.form-control {
  height: auto;
}

.feedback .form-group textarea.form-control {
  height: 248px;
}
.feedback .form-control:focus {
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}
.feedback ::-webkit-input-placeholder {
  font-weight: 700;
  color: #353835;
}
.feedback :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
.feedback ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
.feedback :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}
.feedback button {
  font-weight: 700;
}
.feedback-text {
  padding: 30px;
}


.footer {
  max-width: 100%;
}
.footer-2 {
  background: #0A121E;
  color: white;
  min-height: 45vh;
  padding-top: 10vh;
}
.footer a {
  color: white;
}
.footer h5 {
  margin: 20px 0;
}
.footer .logo {
  margin: 15px 0;
  width: 102px;
  height: 27px;
}
.button-group {
  margin: 30px 0 50px 0;
}



